.navbar-container{
  padding: 8px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
  transition: 0.5s;
  color: #000;
  background-color: #fff;
  box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}


li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.navbar-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  
}

.nav-menu-list {
  display: flex;
  gap: 30px;
  font-size: 1.1rem;
}

.logo img{
  width: 55px;
  height: auto;
}


@media screen and (max-width: 960px) {
  .nav-menu-list{
    display: none;
  }

  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 35px;
    height: 3px;
    background-color: #ce236f;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
  }

  .menu-toggle.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    cursor: pointer;
  }

  .menu-toggle.active .bar2 {
    opacity: 0;
  }

  .menu-toggle.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    cursor: pointer;
  }
}
